In [12]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline

from sklearn.utils import shuffle
from sklearn.svm import SVC
from sklearn.metrics import confusion_matrix,classification_report
from sklearn.model_selection import cross_val_score, GridSearchCV

dataset = pd.read_csv("C:/Users/hp/Desktop/ML/cerebro/Lockdown Mania/coronaTrain.csv")
pred= pd.read_csv("C:/Users/hp/Desktop/ML/cerebro/Lockdown Mania/coronaTest.csv")

In [16]:
print(dataset.head())
print(pred.head())

   Index            0            1            2            3            4  \
0      0  5280.167730  3837.700942  1681.942638  5843.046523  -232.842418
1      1 -3223.055169 -1115.166494 -1336.564180  1286.738497  3403.835973
2      2  8007.313938  5491.331210  3663.342202   593.011444 -2989.930294
3      3  4533.969789  1859.902341 -2106.670412 -2938.184416 -1435.850576
4      4   921.522640 -1200.312956   -14.678130  1779.298398 -3506.129638

             5            6            7            8  ...        991  \
0   818.394788  3030.753422  2277.569997   573.577558  ... -11.788928
1  1036.306212  -401.889306   323.775792  1494.498731  ... -86.010820
2 -1650.875980  1118.997993  2391.424050  2575.013614  ...  20.228240
3 -1167.242348  -476.518632  -215.481546 -1838.518402  ...  -0.340331
4   855.198666  -943.207950 -1956.808320   320.996880  ...  20.692532

         992         993        994        995        996        997  \
0  -4.290970    2.594959 -43.219612  -4.240717  31.517564 -41.453802
1 -31.261799  103.364060  46.960054 -62.536342 -92.178920 -39.621644
2 -22.978302  -68.078558 -10.060078 -19.974270  43.649501 -40.868866
3 -47.293885   -7.099134  -1.138214  -2.997165  20.675353   5.936402
4 -90.675207  -25.654549  46.343281  -9.284992  82.467545  13.337126

         998        999  status
0  17.277788 -20.736469       0
1  -7.973821 -30.334445       1
2 -88.093409   7.586640       0
3  80.723711 -58.106523       1
4 -61.225668  15.347131       1

[5 rows x 1002 columns]
   Index            0             1            2            3            4  \
0      0  2360.468121   3170.244556  1697.758472  5598.597705 -1122.907590
1      1  9824.143037   3357.881942   201.543848  3019.119601 -4953.704512
2      2  2341.483987   1972.182132  5321.074820  2076.880657 -1057.674537
3      3  9588.800823  10121.225552  7233.253861  -495.263472 -1506.855675
4      4  2902.667817   2847.755305  3424.176309  5046.393309 -1387.708023

             5            6            7            8  ...        990  \
0   980.658815  1178.046905  3296.901426   549.362795  ...  31.733982
1  -666.601915   192.440353  4142.487313  2262.905200  ...   6.011481
2   550.924115  2006.304348  -920.764523  -639.762922  ...  29.900149
3  2146.521265 -2909.550994   878.050546  2200.871095  ...  18.709080
4 -1713.565415  3364.930083  -253.248893 -3011.743840  ...  26.846112

         991         992        993        994        995        996  \
0  18.159848   62.793697  26.542204  20.632675  11.898688  24.426936
1  46.987701  -23.835829  14.808673   5.638663 -16.839797  20.230744
2 -16.289829  -31.641735 -11.114851  -2.929377 -58.487379   6.710407
3   8.423986    5.825512 -41.753367 -16.802495 -25.847536 -25.330617
4  52.430472  102.027308 -72.852526 -24.766511  26.342181 -18.998844

         997        998        999
0  12.326023   2.524550  23.820559
1  -1.293179  82.583835  59.123195
2   1.146231  24.553120 -35.122233
3  13.822268  10.729671  -5.975498
4  18.412844  -0.115226  15.015220

[5 rows x 1001 columns]

In [18]:
x_train=dataset.iloc[:,1:-1]
y_train=dataset.iloc[:,1001:]
x_test= pred.iloc[:,1:]
print(x_test.head())

             0             1            2            3            4  \
0  2360.468121   3170.244556  1697.758472  5598.597705 -1122.907590
1  9824.143037   3357.881942   201.543848  3019.119601 -4953.704512
2  2341.483987   1972.182132  5321.074820  2076.880657 -1057.674537
3  9588.800823  10121.225552  7233.253861  -495.263472 -1506.855675
4  2902.667817   2847.755305  3424.176309  5046.393309 -1387.708023

             5            6            7            8            9  ...  \
0   980.658815  1178.046905  3296.901426   549.362795    49.595597  ...
1  -666.601915   192.440353  4142.487313  2262.905200  3473.093884  ...
2   550.924115  2006.304348  -920.764523  -639.762922  1050.404691  ...
3  2146.521265 -2909.550994   878.050546  2200.871095 -1471.991097  ...
4 -1713.565415  3364.930083  -253.248893 -3011.743840  3458.805993  ...

         990        991         992        993        994        995  \
0  31.733982  18.159848   62.793697  26.542204  20.632675  11.898688
1   6.011481  46.987701  -23.835829  14.808673   5.638663 -16.839797
2  29.900149 -16.289829  -31.641735 -11.114851  -2.929377 -58.487379
3  18.709080   8.423986    5.825512 -41.753367 -16.802495 -25.847536
4  26.846112  52.430472  102.027308 -72.852526 -24.766511  26.342181

         996        997        998        999
0  24.426936  12.326023   2.524550  23.820559
1  20.230744  -1.293179  82.583835  59.123195
2   6.710407   1.146231  24.553120 -35.122233
3 -25.330617  13.822268  10.729671  -5.975498
4 -18.998844  18.412844  -0.115226  15.015220

[5 rows x 1000 columns]

In [61]:

# K-Nearest Neighbours
from sklearn.neighbors import KNeighborsClassifier

classifier = KNeighborsClassifier(n_neighbors=10)
classifier.fit(x_train, y_train)

y_pred = classifier.predict(x_test)


print(y_pred.size)
y_pred=np.append('class',y_pred)

df = pd.DataFrame(y_pred)
print(df)
df.to_excel(r'C:/Users/hp/Desktop/n_10.xlsx', index = False)

df.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """

1332
          0
0     class
1         0
2         0
3         2
4         0
5         0
6         2
7         2
8         2
9         2
10        0
11        0
12        0
13        1
14        1
15        1
16        2
17        0
18        1
19        1
20        2
21        2
22        1
23        2
24        2
25        2
26        2
27        2
28        0
29        2
...     ...
1303      1
1304      2
1305      1
1306      1
1307      2
1308      0
1309      2
1310      0
1311      2
1312      2
1313      1
1314      2
1315      1
1316      1
1317      2
1318      0
1319      2
1320      2
1321      1
1322      2
1323      2
1324      0
1325      2
1326      1
1327      2
1328      0
1329      0
1330      0
1331      2
1332      0

[1333 rows x 1 columns]

       0
0  class
1      0
2      0
3      2
4      0